<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/carousel.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="#">XXX 实时管理系统</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><%= user %>的主页 <span class="sr-only">(current)</span></a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>-->
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="button" id="logout">我要注销</button>
        </form>
      </div>
    </nav>

    <div class="container marketing" style="margin-top: 50px">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <% models.forEach(function(value, key, map){ %>
        <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>设备 <%= key %></h2>
        <p>共有 <%= value %> 个任务正在执行</p>
        <p><a class="btn btn-secondary"
                   href="/tasks/<%=user%>/<%=key%>"
                   role="button">查看详情 &raquo;</a></p>
        </div> %>
        <% }) %>

      </div><!-- /.row -->

    </div><!-- /.container -->

    <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#logout").click(function(){
                location.href = '../logout';
            });
        });
    </script>

    <!--<script type="text/javascript">-->
        <!--function goTo(user, model){-->
            <!--location.href = '../tasks/' + user + '/' + model;-->
        <!--};-->
    <!--</script>-->
  </body>
</html>
